/three_classification.ipynb filter=lfs diff=lfs merge=lfs -text
/models/base_line/ckpt/0-checkpoint.model.keras filter=lfs diff=lfs merge=lfs -text
/models/base_line/ckpt/1-checkpoint.model.keras filter=lfs diff=lfs merge=lfs -text
/models/base_line/ckpt/2-checkpoint.model.keras filter=lfs diff=lfs merge=lfs -text
/models/base_line/ckpt/3-checkpoint.model.keras filter=lfs diff=lfs merge=lfs -text
/models/base_line/ckpt/4-checkpoint.model.keras filter=lfs diff=lfs merge=lfs -text
/models/augmentation/ckpt/0-checkpoint.model.keras filter=lfs diff=lfs merge=lfs -text
/models/augmentation/ckpt/1-checkpoint.model.keras filter=lfs diff=lfs merge=lfs -text
/models/augmentation/ckpt/2-checkpoint.model.keras filter=lfs diff=lfs merge=lfs -text
/models/augmentation/ckpt/3-checkpoint.model.keras filter=lfs diff=lfs merge=lfs -text
/models/augmentation/ckpt/4-checkpoint.model.keras filter=lfs diff=lfs merge=lfs -text
/models/augmentation_train_1/ckpt/checkpoint.model.keras filter=lfs diff=lfs merge=lfs -text
/models/augmentation_train_2/ckpt/checkpoint.model.keras filter=lfs diff=lfs merge=lfs -text
/models/augmentation_train_3/ckpt/checkpoint.model.keras filter=lfs diff=lfs merge=lfs -text
/models/segmentation/resnet34Adamdice_loss/ckpt/checkpoint.model.keras filter=lfs diff=lfs merge=lfs -text
/models/segmentation/resnet34Adamjaccard_loss/ckpt/checkpoint.model.keras filter=lfs diff=lfs merge=lfs -text
/results/segmentation/resnet34Adamdice_loss/results.json filter=lfs diff=lfs merge=lfs -text
/results/segmentation/resnet34Adamjaccard_loss/results.json filter=lfs diff=lfs merge=lfs -text
/segmentation.ipynb filter=lfs diff=lfs merge=lfs -text
/inceptionv3-16/trial_0000/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/inceptionv3-16/trial_0001/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/inceptionv3-16/trial_0002/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/inceptionv3-16/trial_0003/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/inceptionv3-4/trial_0000/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/inceptionv3-4/trial_0001/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/inceptionv3-4/trial_0002/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/inceptionv3-4/trial_0003/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/inceptionv3-8/trial_0000/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/inceptionv3-8/trial_0001/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/inceptionv3-8/trial_0002/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/inceptionv3-8/trial_0003/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/resnet34-16/trial_0000/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/resnet34-16/trial_0001/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/resnet34-16/trial_0002/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/resnet34-16/trial_0003/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/resnet34-4/trial_0000/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/resnet34-4/trial_0001/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/resnet34-4/trial_0002/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/resnet34-4/trial_0003/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/resnet34-8/trial_0000/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/resnet34-8/trial_0001/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/resnet34-8/trial_0002/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/resnet34-8/trial_0003/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/tensorboard/inceptionv3-16/0000/execution0/train/events.out.tfevents.1724254712.9c4b0664fa29.10728.139.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/inceptionv3-16/0001/execution0/train/events.out.tfevents.1724254988.9c4b0664fa29.10728.142.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/inceptionv3-16/0002/execution0/train/events.out.tfevents.1724255706.9c4b0664fa29.10728.145.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/inceptionv3-16/0003/execution0/train/events.out.tfevents.1724255992.9c4b0664fa29.10728.148.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/inceptionv3-4/0000/execution0/train/events.out.tfevents.1724251124.9c4b0664fa29.10728.112.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/inceptionv3-4/0001/execution0/train/events.out.tfevents.1724251457.9c4b0664fa29.10728.115.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/inceptionv3-4/0002/execution0/train/events.out.tfevents.1724251818.9c4b0664fa29.10728.118.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/inceptionv3-4/0003/execution0/train/events.out.tfevents.1724252106.9c4b0664fa29.10728.121.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/inceptionv3-8/0000/execution0/train/events.out.tfevents.1724252490.9c4b0664fa29.10728.124.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/inceptionv3-8/0001/execution0/train/events.out.tfevents.1724252751.9c4b0664fa29.10728.127.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/inceptionv3-8/0002/execution0/train/events.out.tfevents.1724253354.9c4b0664fa29.10728.130.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/inceptionv3-8/0003/execution0/train/events.out.tfevents.1724253697.9c4b0664fa29.10728.133.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/resnet34-16/0000/execution0/train/events.out.tfevents.1724236416.9c4b0664fa29.10728.25.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/resnet34-16/0001/execution0/train/events.out.tfevents.1724236717.9c4b0664fa29.10728.28.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/resnet34-16/0002/execution0/train/events.out.tfevents.1724237392.9c4b0664fa29.10728.31.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/resnet34-16/0003/execution0/train/events.out.tfevents.1724237652.9c4b0664fa29.10728.34.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/resnet34-4/0000/execution0/train/events.out.tfevents.1724233069.9c4b0664fa29.10728.1.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/resnet34-4/0001/execution0/train/events.out.tfevents.1724233331.9c4b0664fa29.10728.4.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/resnet34-4/0002/execution0/train/events.out.tfevents.1724233814.9c4b0664fa29.10728.7.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/resnet34-4/0003/execution0/train/events.out.tfevents.1724234187.9c4b0664fa29.10728.10.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/resnet34-8/0000/execution0/train/events.out.tfevents.1724234524.9c4b0664fa29.10728.13.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/resnet34-8/0001/execution0/train/events.out.tfevents.1724234850.9c4b0664fa29.10728.16.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/resnet34-8/0002/execution0/train/events.out.tfevents.1724235468.9c4b0664fa29.10728.19.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/resnet34-8/0003/execution0/train/events.out.tfevents.1724235799.9c4b0664fa29.10728.22.v2 filter=lfs diff=lfs merge=lfs -text
/efficientnetb5-16/trial_0000/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/efficientnetb5-16/trial_0001/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/efficientnetb5-16/trial_0002/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/efficientnetb5-16/trial_0003/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/efficientnetb5-4/trial_0000/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/efficientnetb5-4/trial_0001/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/efficientnetb5-4/trial_0002/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/efficientnetb5-4/trial_0003/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/efficientnetb5-8/trial_0000/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/efficientnetb5-8/trial_0001/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/efficientnetb5-8/trial_0002/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/efficientnetb5-8/trial_0003/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/tensorboard/efficientnetb5-16/0000/execution0/train/events.out.tfevents.1724267456.9c4b0664fa29.269240.28.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/efficientnetb5-16/0001/execution0/train/events.out.tfevents.1724267883.9c4b0664fa29.269240.31.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/efficientnetb5-16/0002/execution0/train/events.out.tfevents.1724268736.9c4b0664fa29.269240.34.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/efficientnetb5-16/0003/execution0/train/events.out.tfevents.1724269164.9c4b0664fa29.269240.37.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/efficientnetb5-4/0000/execution0/train/events.out.tfevents.1724263237.9c4b0664fa29.269240.4.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/efficientnetb5-4/0001/execution0/train/events.out.tfevents.1724263780.9c4b0664fa29.269240.7.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/efficientnetb5-4/0002/execution0/train/events.out.tfevents.1724264340.9c4b0664fa29.269240.10.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/efficientnetb5-4/0003/execution0/train/events.out.tfevents.1724264742.9c4b0664fa29.269240.13.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/efficientnetb5-8/0000/execution0/train/events.out.tfevents.1724265256.9c4b0664fa29.269240.16.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/efficientnetb5-8/0001/execution0/train/events.out.tfevents.1724265664.9c4b0664fa29.269240.19.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/efficientnetb5-8/0002/execution0/train/events.out.tfevents.1724266346.9c4b0664fa29.269240.22.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/efficientnetb5-8/0003/execution0/train/events.out.tfevents.1724266742.9c4b0664fa29.269240.25.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/original-4/0000/execution0/train/events.out.tfevents.1724270366.9c4b0664fa29.269240.42.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/original-4/0001/execution0/train/events.out.tfevents.1724270641.9c4b0664fa29.269240.45.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/original-4/0002/execution0/train/events.out.tfevents.1724270981.9c4b0664fa29.269240.48.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/original-4/0003/execution0/train/events.out.tfevents.1724271334.9c4b0664fa29.269240.51.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/xception-16/0000/execution0/train/events.out.tfevents.1724335404.7a494c1e8418.82667.27.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/xception-16/0002/execution0/train/events.out.tfevents.1724335665.7a494c1e8418.82667.33.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/xception-4/0000/execution0/train/events.out.tfevents.1724333632.7a494c1e8418.82667.3.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/xception-4/0002/execution0/train/events.out.tfevents.1724334131.7a494c1e8418.82667.9.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/xception-8/0000/execution0/train/events.out.tfevents.1724334491.7a494c1e8418.82667.15.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/xception-8/0002/execution0/train/events.out.tfevents.1724335089.7a494c1e8418.82667.21.v2 filter=lfs diff=lfs merge=lfs -text
/xception-16/trial_0000/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/xception-16/trial_0001/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/xception-16/trial_0002/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/xception-16/trial_0003/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/xception-4/trial_0000/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/xception-4/trial_0001/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/xception-4/trial_0002/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/xception-4/trial_0003/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/xception-8/trial_0000/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/xception-8/trial_0001/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/xception-8/trial_0002/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/xception-8/trial_0003/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/tensorboard/xception-fine-tuning/0000/execution0/train/events.out.tfevents.1724397513.Jaspers-MBP.home.69135.18.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/xception-fine-tuning/0001/execution0/train/events.out.tfevents.1724398789.Jaspers-MBP.home.69135.21.v2 filter=lfs diff=lfs merge=lfs -text
/tensorboard/xception-fine-tuning/0002/execution0/train/events.out.tfevents.1724399543.Jaspers-MBP.home.69135.24.v2 filter=lfs diff=lfs merge=lfs -text
/xception-fine-tuning/trial_0000/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/xception-fine-tuning/trial_0001/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/xception-fine-tuning/trial_0002/checkpoint.weights.h5 filter=lfs diff=lfs merge=lfs -text
/scratch_pads/segmentation.ipynb filter=lfs diff=lfs merge=lfs -text
