model_*
lost+found
same_no_layers.zip
.Trash-1000
segmentation_data
kaggle.json
chest-xray-masks-and-labels.zip
tuberculosis-tb-chest-xray-dataset.zip
.ipynb_checkpoints/
.virtual_documents/
.venv
.env
data
__pycache__